body, html {
    margin: 0;
    height: 100%;
    font-family: 'Arial';
}

body{
    display:grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 5fr;

}
.container {
    background: lightgray;
}

.resource-card{
    width: 20vmin;
}
.card-panel{
    display: grid;
    margin: 0;
    padding: 0;

}
.menu{
    display: grid;
    margin: 1rem;
    height: 35vmax;
    width: 20vmax;
    justify-items: center;
    align-items: center;
}
.title{
    padding-bottom: 10px;
    border-bottom: solid 3px white;
}
.start-menu{
    display: grid;
    
}
.btn{
    display:grid;
    margin: 5px;
}
.playerOne-menu{
    padding: 1em;
    height: 34vmax;
    width: 19vmax;
}
.board{
    /* padding: 5px; */
    height: 35vmax;
    width: 70vmax;
    display:grid;
    grid-gap: 3px;
    outline: solid 10px #81d4fa;
    outline-offset: -10px;
    grid-template-columns: repeat(10, 1fr 1fr 1fr 1fr 10fr) 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr 1fr 1fr 1fr 10fr) 1fr 1fr 1fr 1fr;
    z-index: 1;
}

.tile{
    justify-items: center;
    align-items: center;
    z-index: 2;
    
}


.house{
    z-index: 3;
    border-radius: 50%;
    transition: all 0.5s ease-out;

}
.house-hover:hover{
    opacity: .4;

}
.hidden{
    border: none;
    box-shadow: none;
    opacity: 0;
}

.house1{
    display: grid;
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5; 
}
.house2{
    display: grid;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 5; 
}
.house3{
    display: grid;
    grid-column-start: 16;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 5; 
}
.house4{
    display: grid;
    grid-column-start: 21;
    grid-column-end: 25;
    grid-row-start: 1; 
    grid-row-end: 5; 
}
.house5{
    display: grid;
    grid-column-start: 26;
    grid-column-end: 30;
    grid-row-start: 1;
    grid-row-end: 5;  
}
.house6{
    display: grid;
    grid-column-start: 31;
    grid-column-end: 35;
    grid-row-start: 1; 
    grid-row-end: 5; 
}
.house7{
    display: grid;
    grid-column-start: 36;
    grid-column-end: 40;
    grid-row-start: 1;
    grid-row-end: 5; 
}
.house8{
    display: grid;
    grid-column-start: 41;
    grid-column-end: 45;
    grid-row-start: 1; 
    grid-row-end: 5; 
}
.house9{
    display: grid;
    grid-column-start: 46;
    grid-column-end: 50;
    grid-row-start: 1; 
    grid-row-end: 5; 
}
.house10{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 10;  
}.house11{
    display: grid;
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 10; 
}
.house12{
    display: grid;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 6;
    grid-row-end: 10; 
}
.house13{
    display: grid;
    grid-column-start: 16;
    grid-column-end: 20;
    grid-row-start: 6;
    grid-row-end: 10; 
}
.house14{
    display: grid;
    grid-column-start: 21;
    grid-column-end: 25;
    grid-row-start: 6; 
    grid-row-end: 10; 
}
.house15{
    display: grid;
    grid-column-start: 26;
    grid-column-end: 30;
    grid-row-start: 6;
    grid-row-end: 10;  
}
.house16{
    display: grid;
    grid-column-start: 31;
    grid-column-end: 35;
    grid-row-start: 6; 
    grid-row-end: 10; 
}
.house17{
    display: grid;
    grid-column-start: 36;
    grid-column-end: 40;
    grid-row-start: 6;
    grid-row-end: 10; 
}
.house18{
    display: grid;
    grid-column-start: 41;
    grid-column-end: 45;
    grid-row-start: 6; 
    grid-row-end: 10; 
}
.house19{
    display: grid;
    grid-column-start: 46;
    grid-column-end: 50;
    grid-row-start: 6; 
    grid-row-end: 10; 
}
.house20{
    display: grid;
    grid-column-start: 51;
    grid-column-end: 55;
    grid-row-start: 6; 
    grid-row-end: 10; 
}
.house21{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 11;
    grid-row-end: 15;  
}.house22{
    display: grid;
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 11;
    grid-row-end: 15; 
}
.house23{
    display: grid;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 11;
    grid-row-end: 15; 
}
.house24{
    display: grid;
    grid-column-start: 16;
    grid-column-end: 20;
    grid-row-start:11;
    grid-row-end: 15; 
}
.house25{
    display: grid;
    grid-column-start: 21;
    grid-column-end: 25;
    grid-row-start: 11; 
    grid-row-end: 15; 
}
.house26{
    display: grid;
    grid-column-start: 26;
    grid-column-end: 30;
    grid-row-start: 11;
    grid-row-end: 15;  
}
.house27{
    display: grid;
    grid-column-start: 31;
    grid-column-end: 35;
    grid-row-start: 11; 
    grid-row-end: 15; 
}
.house28{
    display: grid;
    grid-column-start: 36;
    grid-column-end: 40;
    grid-row-start: 11;
    grid-row-end: 15; 
}
.house29{
    display: grid;
    grid-column-start: 41;
    grid-column-end: 45;
    grid-row-start: 11; 
    grid-row-end: 15; 
}
.house30{
    display: grid;
    grid-column-start: 46;
    grid-column-end: 50;
    grid-row-start: 11; 
    grid-row-end: 15; 
}
.house31{
    display: grid;
    grid-column-start: 51;
    grid-column-end: 55;
    grid-row-start: 11; 
    grid-row-end: 15; 
}
.house32{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 16;
    grid-row-end: 20;  
}.house33{
    display: grid;
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 16;
    grid-row-end: 20; 
}
.house34{
    display: grid;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 16;
    grid-row-end: 20; 
}
.house35{
    display: grid;
    grid-column-start: 16;
    grid-column-end: 20;
    grid-row-start:16;
    grid-row-end: 20; 
}
.house36{
    display: grid;
    grid-column-start: 21;
    grid-column-end: 25;
    grid-row-start: 16; 
    grid-row-end: 20; 
}
.house37{
    display: grid;
    grid-column-start: 26;
    grid-column-end: 30;
    grid-row-start: 16;
    grid-row-end: 20;  
}
.house38{
    display: grid;
    grid-column-start: 31;
    grid-column-end: 35;
    grid-row-start: 16; 
    grid-row-end: 20; 
}
.house39{
    display: grid;
    grid-column-start: 36;
    grid-column-end: 40;
    grid-row-start: 16;
    grid-row-end: 20; 
}
.house40{
    display: grid;
    grid-column-start: 41;
    grid-column-end: 45;
    grid-row-start: 16; 
    grid-row-end: 20; 
}
.house41{
    display: grid;
    grid-column-start: 46;
    grid-column-end: 50;
    grid-row-start: 16; 
    grid-row-end: 20; 
}
.house42{
    display: grid;
    grid-column-start: 51;
    grid-column-end: 55;
    grid-row-start: 16; 
    grid-row-end: 20; 
}
.house43{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 21;
    grid-row-end: 25;  
}.house44{
    display: grid;
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 21;
    grid-row-end: 25;  
}
.house45{
    display: grid;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 21;
    grid-row-end: 25;  
}
.house46{
    display: grid;
    grid-column-start: 16;
    grid-column-end: 20;
    grid-row-start: 21;
    grid-row-end: 25;  
}
.house47{
    display: grid;
    grid-column-start: 21;
    grid-column-end: 25;
    grid-row-start: 21;
    grid-row-end: 25;  
}
.house48{
    display: grid;
    grid-column-start: 26;
    grid-column-end: 30;
    grid-row-start: 21;
    grid-row-end: 25;  
}
.house49{
    display: grid;
    grid-column-start: 31;
    grid-column-end: 35;
    grid-row-start: 21;
    grid-row-end: 25;  
}
.house50{
    display: grid;
    grid-column-start: 36;
    grid-column-end: 40;
    grid-row-start: 21;
    grid-row-end: 25;  
}
.house51{
    display: grid;
    grid-column-start: 41;
    grid-column-end: 45;
    grid-row-start: 21;
    grid-row-end: 25;  
}
.house52{
    display: grid;
    grid-column-start: 46;
    grid-column-end: 50;
    grid-row-start: 21;
    grid-row-end: 25;  
}
.house53{
    display: grid;
    grid-column-start: 51;
    grid-column-end: 55;
    grid-row-start: 21;
    grid-row-end: 25;  
}
.house54{
    display: grid;
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 26;
    grid-row-end: 30; 
}
.house55{
    display: grid;
    grid-column-start: 11;
    grid-column-end: 15;
    grid-row-start: 26;
    grid-row-end: 30; 
}
.house56{
    display: grid;
    grid-column-start: 16;
    grid-column-end: 20;
    grid-row-start: 26;
    grid-row-end: 30; 
}
.house57{
    display: grid;
    grid-column-start: 21;
    grid-column-end: 25;
    grid-row-start: 26;
    grid-row-end: 30; 
}
.house58{
    display: grid;
    grid-column-start: 26;
    grid-column-end: 30;
    grid-row-start: 26;
    grid-row-end: 30; 
}
.house59{
    display: grid;
    grid-column-start: 31;
    grid-column-end: 35;
    grid-row-start: 26;
    grid-row-end: 30; 
}
.house60{
    display: grid;
    grid-column-start: 36;
    grid-column-end: 40;
    grid-row-start: 26;
    grid-row-end: 30; 
}
.house61{
    display: grid;
    grid-column-start: 41;
    grid-column-end: 45;
    grid-row-start: 26;
    grid-row-end: 30; 
}
.house62{
    display: grid;
    grid-column-start: 46;
    grid-column-end: 50;
    grid-row-start: 26;
    grid-row-end: 30; 
}
.road{
    z-index: 3;
    transition: all 0.5s ease-out;
}                                                                                                                                                                                                                                                                                                                                                                   
.road1{
    display: grid;
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 4; 
}
.road2{
    display: grid;
    grid-column-start: 15;
    grid-column-end: 16;
    grid-row-start: 2;
    grid-row-end: 4; 
}
.road3{
    display: grid;
    grid-column-start: 20;
    grid-column-end: 21;
    grid-row-start: 2;
    grid-row-end: 4; 
}
.road4{
    display: grid;
    grid-column-start: 25;
    grid-column-end: 26;
    grid-row-start: 2;
    grid-row-end: 4; 
}
.road5{
    display: grid;
    grid-column-start: 30;
    grid-column-end: 31;
    grid-row-start: 2;
    grid-row-end: 4; 
}
.road6{
    display: grid;
    grid-column-start: 35;
    grid-column-end: 36;
    grid-row-start: 2;
    grid-row-end: 4; 
}
.road7{
    display: grid;
    grid-column-start: 40;
    grid-column-end: 41;
    grid-row-start: 2;
    grid-row-end: 4; 
}
.road8{
    display: grid;
    grid-column-start: 45;
    grid-column-end: 46;
    grid-row-start: 2;
    grid-row-end: 4; 
}
.road9{
    display: grid;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6; 
}
.road10{
    display: grid;
    grid-column-start: 17;
    grid-column-end: 19;
    grid-row-start: 5;
    grid-row-end: 6; 
}
.road11{
    display: grid;
    grid-column-start: 27;
    grid-column-end: 29;
    grid-row-start: 5;
    grid-row-end: 6; 
}
.road12{
    display: grid;
    grid-column-start: 37;
    grid-column-end: 39;
    grid-row-start: 5;
    grid-row-end: 6; 
}
.road13{
    display: grid;
    grid-column-start: 47;
    grid-column-end: 49;
    grid-row-start: 5;
    grid-row-end: 6; 
}
.road14{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 9; 
}
.road15{
    display: grid;
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 9; 
}
.road16{
    display: grid;
    grid-column-start: 15;
    grid-column-end: 16;
    grid-row-start: 7;
    grid-row-end: 9; 
}
.road17{
    display: grid;
    grid-column-start: 20;
    grid-column-end: 21;
    grid-row-start: 7;
    grid-row-end: 9; 
}
.road18{
    display: grid;
    grid-column-start: 25;
    grid-column-end: 26;
    grid-row-start: 7;
    grid-row-end: 9; 
}
.road19{
    display: grid;
    grid-column-start: 30;
    grid-column-end: 31;
    grid-row-start: 7;
    grid-row-end: 9; 
}
.road20{
    display: grid;
    grid-column-start: 35;
    grid-column-end: 36;
    grid-row-start: 7;
    grid-row-end: 9; 
}
.road21{
    display: grid;
    grid-column-start: 40;
    grid-column-end: 41;
    grid-row-start: 7;
    grid-row-end: 9; 
}
.road22{
    display: grid;
    grid-column-start: 45;
    grid-column-end: 46;
    grid-row-start: 7;
    grid-row-end: 9; 
}
.road23{
    display: grid;
    grid-column-start: 50;
    grid-column-end: 51;
    grid-row-start: 7;
    grid-row-end: 9; 
}
.road24{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 11; 
}
.road25{
    display: grid;
    grid-column-start: 12;
    grid-column-end: 14;
    grid-row-start: 10;
    grid-row-end: 11; 
}
.road26{
    display: grid;
    grid-column-start: 22;
    grid-column-end: 24;
    grid-row-start: 10;
    grid-row-end: 11; 
}
.road27{
    display: grid;
    grid-column-start: 32;
    grid-column-end: 34;
    grid-row-start: 10;
    grid-row-end: 11; 
}
.road28{
    display: grid;
    grid-column-start: 42;
    grid-column-end: 44;
    grid-row-start: 10;
    grid-row-end: 11; 
}
.road29{
    display: grid;
    grid-column-start: 52;
    grid-column-end: 54;
    grid-row-start: 10;
    grid-row-end: 11; 
}
.road30{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 14; 
}
.road31{
    display: grid;
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 12;
    grid-row-end: 14; 
}
.road32{
    display: grid;
    grid-column-start: 15;
    grid-column-end: 16;
    grid-row-start: 12;
    grid-row-end: 14; 
}
.road33{
    display: grid;
    grid-column-start: 20;
    grid-column-end: 21;
    grid-row-start: 12;
    grid-row-end: 14; 
}
.road34{
    display: grid;
    grid-column-start: 25;
    grid-column-end: 26;
    grid-row-start: 12;
    grid-row-end: 14; 
}
.road35{
    display: grid;
    grid-column-start: 30;
    grid-column-end: 31;
    grid-row-start: 12;
    grid-row-end: 14; 
}
.road36{
    display: grid;
    grid-column-start: 35;
    grid-column-end: 36;
    grid-row-start: 12;
    grid-row-end: 14; 
}
.road37{
    display: grid;
    grid-column-start: 40;
    grid-column-end: 41;
    grid-row-start: 12;
    grid-row-end: 14; 
}
.road38{
    display: grid;
    grid-column-start: 45;
    grid-column-end: 46;
    grid-row-start: 12;
    grid-row-end: 14; 
}
.road39{
    display: grid;
    grid-column-start: 50;
    grid-column-end: 51;
    grid-row-start: 12;
    grid-row-end: 14; 
}
.road40{
    display: grid;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 15;
    grid-row-end: 16; 
}
.road41{
    display: grid;
    grid-column-start: 17;
    grid-column-end: 19;
    grid-row-start: 15;
    grid-row-end: 16; 
}
.road42{
    display: grid;
    grid-column-start: 27;
    grid-column-end: 29;
    grid-row-start: 15;
    grid-row-end: 16; 
}
.road43{
    display: grid;
    grid-column-start: 37;
    grid-column-end: 39;
    grid-row-start: 15;
    grid-row-end: 16; 
}
.road44{
    display: grid;
    grid-column-start: 47;
    grid-column-end: 49;
    grid-row-start: 15;
    grid-row-end: 16; 
}
.road45{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 17;
    grid-row-end: 19; 
}
.road46{
    display: grid;
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 17;
    grid-row-end: 19; 
}
.road47{
    display: grid;
    grid-column-start: 15;
    grid-column-end: 16;
    grid-row-start: 17;
    grid-row-end: 19; 
}
.road48{
    display: grid;
    grid-column-start: 20;
    grid-column-end: 21;
    grid-row-start: 17;
    grid-row-end: 19; 
}
.road49{
    display: grid;
    grid-column-start: 25;
    grid-column-end: 26;
    grid-row-start: 17;
    grid-row-end: 19; 
}
.road50{
    display: grid;
    grid-column-start: 30;
    grid-column-end: 31;
    grid-row-start: 17;
    grid-row-end: 19; 
}
.road51{
    display: grid;
    grid-column-start: 35;
    grid-column-end: 36;
    grid-row-start: 17;
    grid-row-end: 19; 
}
.road52{
    display: grid;
    grid-column-start: 40;
    grid-column-end: 41;
    grid-row-start: 17;
    grid-row-end: 19;  
}
.road53{
    display: grid;
    grid-column-start: 45;
    grid-column-end: 46;
    grid-row-start: 17;
    grid-row-end: 19; 
}
.road54{
    display: grid;
    grid-column-start: 50;
    grid-column-end: 51;
    grid-row-start: 17;
    grid-row-end: 19; 
}
.road55{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 20;
    grid-row-end: 21; 
}
.road56{
    display: grid;
    grid-column-start: 12;
    grid-column-end: 14;
    grid-row-start: 20;
    grid-row-end: 21; 
}
.road57{
    display: grid;
    grid-column-start: 22;
    grid-column-end: 24;
    grid-row-start: 20;
    grid-row-end: 21; 
}
.road58{
    display: grid;
    grid-column-start: 32;
    grid-column-end: 34;
    grid-row-start: 20;
    grid-row-end: 21; 
}
.road59{
    display: grid;
    grid-column-start: 42;
    grid-column-end: 44;
    grid-row-start: 20;
    grid-row-end: 21; 
}
.road60{
    display: grid;
    grid-column-start: 52;
    grid-column-end: 54;
    grid-row-start: 20;
    grid-row-end: 21; 
}
.road61{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 22;
    grid-row-end: 24; 
}
.road62{
    display: grid;
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 22;
    grid-row-end: 24; 
}
.road63{
    display: grid;
    grid-column-start: 15;
    grid-column-end: 16;
    grid-row-start: 22;
    grid-row-end: 24; 
}
.road64{
    display: grid;
    grid-column-start: 20;
    grid-column-end: 21;
    grid-row-start: 22;
    grid-row-end: 24; 
}
.road65{
    display: grid;
    grid-column-start: 25;
    grid-column-end: 26;
    grid-row-start: 22;
    grid-row-end: 24; 
}
.road66{
    display: grid;
    grid-column-start: 30;
    grid-column-end: 31;
    grid-row-start: 22;
    grid-row-end: 24; 
}
.road67{
    display: grid;
    grid-column-start: 35;
    grid-column-end: 36;
    grid-row-start: 22;
    grid-row-end: 24;  
}
.road68{
    display: grid;
    grid-column-start: 40;
    grid-column-end: 41;
    grid-row-start: 22;
    grid-row-end: 24; 
}
.road69{
    display: grid;
    grid-column-start: 45;
    grid-column-end: 46;
    grid-row-start: 22;
    grid-row-end: 24; 
}
.road70{
    display: grid;
    grid-column-start: 50;
    grid-column-end: 51;
    grid-row-start: 22;
    grid-row-end: 24; 
}
.road71{
    display: grid;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 25;
    grid-row-end: 26; 
}
.road72{
    display: grid;
    grid-column-start: 17;
    grid-column-end: 19;
    grid-row-start: 25;
    grid-row-end: 26;  
}
.road73{
    display: grid;
    grid-column-start: 27;
    grid-column-end: 29;
    grid-row-start: 25;
    grid-row-end: 26; 
}
.road74{
    display: grid;
    grid-column-start: 37;
    grid-column-end: 39;
    grid-row-start: 25;
    grid-row-end: 26;  
}
.road75{
    display: grid;
    grid-column-start: 47;
    grid-column-end: 49;
    grid-row-start: 25;
    grid-row-end: 26; 
}
.road76{
    display: grid;
    grid-column-start: 10;
    grid-column-end: 11;
    grid-row-start: 27;
    grid-row-end: 29; 
}
.road77{
    display: grid;
    grid-column-start: 15;
    grid-column-end: 16;
    grid-row-start: 27;
    grid-row-end: 29; 
}
.road78{
    display: grid;
    grid-column-start: 20;
    grid-column-end: 21;
    grid-row-start: 27;
    grid-row-end: 29; 
}
.road79{
    display: grid;
    grid-column-start: 25;
    grid-column-end: 26;
    grid-row-start: 27;
    grid-row-end: 29; 
}
.road80{
    display: grid;
    grid-column-start: 30;
    grid-column-end: 31;
    grid-row-start: 27;
    grid-row-end: 29; 
}
.road81{
    display: grid;
    grid-column-start: 35;
    grid-column-end: 36;
    grid-row-start: 27;
    grid-row-end: 29; 
}
.road82{
    display: grid;
    grid-column-start: 40;
    grid-column-end: 41;
    grid-row-start: 27;
    grid-row-end: 29; 
}
.road83{
    display: grid;
    grid-column-start: 45;
    grid-column-end: 46;
    grid-row-start: 27;
    grid-row-end: 29; 
}
.tile1{
    display: grid;
    grid-column-start: 8;
    grid-column-end: 18;
    grid-row-start: 3; 
    grid-row-end: 8; 
}
.tile2{
    display: grid;
    grid-column-start: 18;
    grid-column-end: 28;
    grid-row-start: 3; 
    grid-row-end: 8; 
}
.tile3{
    display: grid;
    grid-column-start: 28;
    grid-column-end: 38;
    grid-row-start: 3;
    grid-row-end: 8; 
}
.tile4{
    display: grid;
    grid-column-start: 38;
    grid-column-end: 48;
    grid-row-start: 3;
    grid-row-end: 8;  
}

.tile5{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 8; 
    grid-row-end: 13; 
}
.tile6{
    display: grid;
    grid-column-start: 13;
    grid-column-end: 23;
    grid-row-start: 8; 
    grid-row-end: 13; 
}
.tile7{
    display: grid;
    grid-column-start: 23;
    grid-column-end: 33;
    grid-row-start: 8;
    grid-row-end: 13; 
}
.tile8{
    display: grid;
    grid-column-start: 33;
    grid-column-end: 43;
    grid-row-start: 8;
    grid-row-end: 13;  
}
.tile9{
    display: grid;
    grid-column-start: 43;
    grid-column-end: 53;
    grid-row-start: 8;
    grid-row-end: 13; 
}
.tile10{
    display: grid;
    grid-column-start: 8;
    grid-column-end: 18;
    grid-row-start: 13; 
    grid-row-end: 18; 
}
.tile11{
    display: grid;
    grid-column-start: 18;
    grid-column-end: 28;
    grid-row-start: 13; 
    grid-row-end: 18; 
}
.tile12{
    display: grid;
    grid-column-start: 28;
    grid-column-end: 38;
    grid-row-start: 13;
    grid-row-end: 18; 
}
.tile13{
    display: grid;
    grid-column-start: 38;
    grid-column-end: 48;
    grid-row-start: 13;
    grid-row-end: 18;  
}

.tile14{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 18; 
    grid-row-end: 23; 
}
.tile15{
    display: grid;
    grid-column-start: 13;
    grid-column-end: 23;
    grid-row-start: 18; 
    grid-row-end: 23; 
}
.tile16{
    display: grid;
    grid-column-start: 23;
    grid-column-end: 33;
    grid-row-start: 18;
    grid-row-end: 23; 
}
.tile17{
    display: grid;
    grid-column-start: 33;
    grid-column-end: 43;
    grid-row-start: 18;
    grid-row-end: 23;  
}
.tile18{
    display: grid;
    grid-column-start: 43;
    grid-column-end: 53;
    grid-row-start: 18;
    grid-row-end: 23; 
}
.tile19{
    display: grid;
    grid-column-start: 8;
    grid-column-end: 18;
    grid-row-start: 23; 
    grid-row-end: 28; 
}
.tile20{
    display: grid;
    grid-column-start: 18;
    grid-column-end: 28;
    grid-row-start: 23; 
    grid-row-end: 28; 
}
.tile21{
    display: grid;
    grid-column-start: 28;
    grid-column-end: 38;
    grid-row-start: 23;
    grid-row-end: 28; 
}
.tile22{
    display: grid;
    grid-column-start: 38;
    grid-column-end: 48;
    grid-row-start: 23;
    grid-row-end: 28;  
}

