body, html {
    margin: 0;
    height: 100%;
    font-family: 'Arial';
}

.body-container{
    margin-top: 10vh;
    display:grid;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;

}

.resource-card{
    display: grid;
    width: 20vmin;
}
.card-panel{
    margin: 0;
    padding: 0;

}
.board{
    padding: 5px;
    height: 50vmin;
    width: 100vmin;
    display:grid;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 1fr 2fr) 1fr;
    grid-template-rows: repeat(2, 1fr 2fr) 1fr;
}
.menu{
    padding: 5px;
    height: 40vmin;
    width: 100vmin;
    display:grid;
    grid-gap: 2px;
    
}
.playerOne-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.playerTwo-menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}
.start-menu{
    display: grid;
    justify-items: center;
    align-items: center;
}
.tile{
    justify-items: center;
    align-items: center;
}

.container {
    background: lightgray;
}
.house{
    z-index: 2;
}
.house1{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1; 
}
.house2{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
}
.house3{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1; 
}
.house4{
    display: grid;
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1; 
}
.house5{
    display: grid;
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 1; 
}
.house6{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3; 
}
.house7{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
}
.house8{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3; 
}
.house9{
    display: grid;
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3; 
}
.house10{
    display: grid;
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 3; 
}
.house11{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
}
.house12{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
}
.house13{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5; 
}
.house14{
    display: grid;
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 5; 
}
.house15{
    display: grid;
    grid-column-start: 9;
    grid-column-end: 10;
    grid-row-start: 5; 
}
.house16{
    display: grid;
    grid-column-start: 11;
    grid-column-end: 12;
    grid-row-start: 5; 
}
.tile1{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2; 
}
.tile2{
    display: grid;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 2; 
}
.tile3{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4; 
}
.tile4{
    display: grid;
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4; 
}
.tile5{
    display: grid;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 4; 
}